body {
	background-image: url(img/bg.jpeg);
	margin: auto;
}

.message {
	color: cadetblue;
}

#loginform {
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

#content {
	background-color: rgba(0,0,0,0.1);
	border: 1px solid black;
	bottom: 100px;
	left: 12px;
	overflow: auto;
	padding: 6px;
	position: absolute;
	right: 12px;
	top: 12px;
}

#textbar {
	background-color: rgba(0,0,0,0.1);
	border: 0;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	bottom: 50px;
	height: 28px;
	left: 12px;
	right: 12px;
	padding: 0px 6px;
	position: absolute;
	width: calc(100% - 36px);
}

#status {
	background-color: cadetblue;
	border-top: 2px solid black;
	bottom: 0;
	height: 25px;
	padding-top: 6px;
	padding-left: 18px;
	position: fixed;
	width: 100%;
}

#nicknames {
	width: 100%
}
