<div id=main>
	<div id=content></div>
	<form action="javascript:submitMessage();">
		<input type=text id=textbar autofocus>
	</form>
	<div id=status>
		<b>Online:</b>
		<a id=nicknames></a>
	</div>
</div>
